{% extends 'base.html' %}
{% block content %}
<h2>Register</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">{{ form.name.label }}{{ form.name(class_='form-control') }}</div>
    <div class="mb-3">{{ form.email.label }}{{ form.email(class_='form-control') }}</div>
    <div class="mb-3">{{ form.phone.label }}{{ form.phone(class_='form-control') }}</div>
    <div class="mb-3">{{ form.address.label }}{{ form.address(class_='form-control') }}</div>
    <div class="mb-3">{{ form.password.label }}{{ form.password(class_='form-control') }}</div>
    <div class="mb-3">{{ form.confirm_password.label }}{{ form.confirm_password(class_='form-control') }}</div>
    <div class="mb-3">
        {{ form.role.label }}
        {{ form.role(class="form-select") }}
    </div>    
    {{ form.submit(class_='btn btn-success') }}
</form>
{% endblock %}
